@model IEnumerable<JessicaOlalla_LPE.Models.Estadio>

@{
    ViewData["Title"] = "Index";
}

<h1>Estadio</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                Ciudad
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Estadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Estadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad_Estadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Estadio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Estadio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Estadio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
