@model JessicaOlalla_LPE.Models.Equipo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiuEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiuEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcepExtr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcepExtr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEquipo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
