@model IEnumerable<JessicaOlalla_LPE.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CiuEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcepExtr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiuEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcepExtr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEquipo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEquipo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEquipo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
