@model IEnumerable<JessicaOlalla_LPE.Models.Equipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipo</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Ciudad
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulos)
            </th>
            <th>
                Estadio
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acepta_Extranjeros)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Equipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Equipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad_Equipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadio.Nombre_Estadio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acepta_Extranjeros)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Equipo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Equipo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Equipo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
